<%= form_with(model: barista, local: true) do |form| %>
  <% if barista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barista.errors.count, "error") %> prohibited this barista from being saved:</h2>

      <ul>
      <% barista.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first %>
    <%= form.text_field :first %>
  </div>

  <div class="field">
    <%= form.label :last %>
    <%= form.text_field :last %>
  </div>

  <div class="field TextArea">
    <%= form.label :tag_line %>
    <%= form.text_area :tag_line %>
  </div>

  <div class="field">
    <%= form.label :currently_working %>
    <%= form.check_box :currently_working %>
  </div>

  <h1>Photos:</h1>
  <div class="PhotoList">
    <%= form.fields_for :barista_photos do |photo_form| %>
      <div class="PhotoWrapper">
        <% if !photo_form.object.image.blank? %>
           <%= image_tag photo_form.object.image_url(:thumb).to_s %>
        <% else %>
          <div class="field">
            <%= photo_form.label "Add New Photo" %>
            <%= photo_form.file_field :image %>
          </div>
        <% end %>
        <div class="field">
          <%= photo_form.label :title %>
          <%= photo_form.text_field :title %>
        </div>
      
        <div class="field">
          <%= photo_form.label :note %>
          <%= photo_form.text_field :note %>
        </div>
      
        <div class="field">
          <%= photo_form.check_box :can_display %>
          <%= photo_form.label :can_display %>
        </div>
      
        <div class="field">
          <%= photo_form.check_box :primary_photo %>
          <%= photo_form.label "Primary (should be square)" %>
        </div>
        <% if !photo_form.object.image.blank? %>
          <div class='field'>
            <%= photo_form.check_box :_destroy %>
            <span class="label">Delete photo</span>
          </div>
        <% end %>
      </div> <!-- PhotoWrapper -->
    <% end %>
  </div> <!-- PhotoList -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
