<%= form_with(model: barista, local: true) do |form| %>
  <% if barista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barista.errors.count, "error") %> prohibited this barista from being saved:</h2>

      <ul>
      <% barista.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first %>
    <%= form.text_field :first, id: :barista_first %>
  </div>

  <div class="field">
    <%= form.label :last %>
    <%= form.text_field :last, id: :barista_last %>
  </div>

  <div class="field TextArea">
    <%= form.label :tag_line %>
    <%= form.text_area :tag_line, id: :tag_line %>
  </div>

  <div class="field">
    <%= form.label :currently_working %>
    <%= form.check_box :currently_working, id: :barista_currently_working %>
  </div>

  <% if !@barista.id.blank? %>
    <h1>Photos:</h1>
    <div class="NewPhotoLink">
      <%= link_to 'Edit Barista Photos', barista_barista_photos_url(@barista) %>
    </div>
    <% if @barista.barista_photos.count > 0 %>
      <div class="PhotoList">
        <% @barista.barista_photos.each do |photo| %>
          <div class="PhotoWrapper">
            <% @barista_photo = photo %>
            <%= render partial: 'barista_photos/display', locals: {barista_summary: false} %>
          </div> <!-- barista photo -->
        <% end %>
      </div> <!-- EditPhotoList -->
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
