<p id="notice"><%= notice %></p>

<div id="baristas" class="TopWrapper">
  <h1>
    <%= @barista.first %>
  </h1>

  <% if (!@barista.tag_line.blank?) %>
    <h2 class="BaristaStatement">
      <%= @barista.tag_line %>
    </h2>
  <% end %>
</div>

<% if (@barista.barista_photos.count > 0) %>
  <div class="PhotoList">
    <% @barista.barista_photos.each do |photo| %>
       <% @barista_photo = photo %>
       <%= render partial: 'barista_photos/display', locals: {barista_summary: false}  %>
    <% end %>
  </div> <!-- BaristaPhotos -->
<% end %>


<% if admin_signed_in? %>
<div class="AdminRegion">
  <%= link_to 'Edit', edit_barista_path(@barista) %>
</div>
<% end %>

