<div class="BaristaPhoto">
    <figure class="ImageArea">
      <%= image_tag @barista_photo.image_url(:thumb).to_s %>
      <figcaption><%= @barista_photo.title %></figcaption>
    </div>
<div>

<% if !@barista_photo.note.blank? %>
  <div class="field">
    <span class="label">Note:</span>
    <span class="value"><%= @barista_photo.note %></span>
  </div>
<% end %>

<%= link_to 'Edit', edit_barista_barista_photo_path(@barista_photo.barista_id, @barista_photo.id) %> |
<%= link_to 'Back', barista_barista_photo_path(@barista_photo.barista_id, @barista_photo.id) %>
