<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @barista_photo.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @barista_photo.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @barista_photo.note %>
</p>

<p>
  <strong>Can display:</strong>
  <%= @barista_photo.can_display %>
</p>

<%= link_to 'Edit', edit_barista_photo_path(@barista_photo) %> |
<%= link_to 'Back', barista_photos_path %>
