<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @artist.phone %>
</p>

<p>
  <strong>Web site:</strong>
  <%= @artist.web_site %>
</p>

<p>
  <strong>Email:</strong>
  <%= @artist.email %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
