<p id="notice"><%= notice %></p>

<div id="artists" class="TopWrapper">
  <div class="PhotoFilter">
    <h1>
      <%= @artist.name %>
    </h1>
  </div>
</div>

<h3>
<% if (!@artist.web_site.blank?) %>
   <a class="SocialIcon"
     href="<%= @artist.web_site %>"
     target="_blank">
     <%= image_tag("wwwIcon.jpg", alt: "web site link") %>
     Web Site
   </a>
<% end %>
<% if (!@artist.instagram.blank?) %>
   <a class="SocialIcon"
     href="<%= @artist.instagram %>"
     target="_blank">
     <%= image_tag("instagramLinkIcon.png", alt: "instagram link") %>
   </a>
<% end %>
</h3>

<% if (@artist.art_pieces.count > 0) %>
  <div class="PhotoList">
    <% @artist.art_pieces.each do |piece| %>
       <% if admin_signed_in? || piece.currently_hanging %>
         <% @art_piece = piece %>
           <%= render partial: 'art_pieces/display', locals: {current_only: false, size: 'thumb' } %>
      <% end %>
    <% end %>
  </div> <!-- Art Pieces -->
<% end %>


<% if admin_signed_in? %>
  <div class="AdminRegion">
    <%= link_to 'Edit', edit_artist_path(@artist) %>
  </div>
<% end %>
