<div class="AdminPage">

<p id="notice"><%= notice %></p>

<h1>Place Photos</h1>

<table class="PhotoTable">
  <thead>
    <tr>
      <th>Place</th>
      <th>Image</th>
      <th>Title</th>
      <th>Note</th>
      <th>Can display</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place_photos.order(created_at: :desc).each do |place_photo| %>
      <tr>
        <td><%= place_photo.place.name %></td>
        <td><%= image_tag place_photo.image_url(:thumb).to_s %></td>
        <td><%= place_photo.title %></td>
        <td><%= place_photo.note %></td>
        <td><%= place_photo.can_display %></td>
        <td><%= link_to 'Show', place_place_photo_path(place_photo.place_id, place_photo.id) %></td>
        <td><%= link_to 'Edit', edit_place_place_photo_path(place_photo.place_id, place_photo.id) %></td>
        <td><%= link_to 'Destroy', place_place_photo_path(place_photo.place_id, place_photo.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place Photo', new_place_place_photo_path %>

</div> <!-- AdminPage -->
