<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @place_photo.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @place_photo.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @place_photo.note %>
</p>

<p>
  <strong>Can display:</strong>
  <%= @place_photo.can_display %>
</p>

<%= link_to 'Edit', edit_place_photo_path(@place_photo) %> |
<%= link_to 'Back', place_photos_path %>
