<div class="AdminRegion">
<p id="notice"><%= notice %></p>

<p>
  <strong>Contact for Supplier:</strong> <%= link_to @contact.supplier.name, @contact.supplier %> 
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Contact type:</strong>
  <%= @contact.contact_type %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Web Site</strong>
  <%= @contact.url %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
</div>
