<div id="headerStrut"></div>
<header>
  <div id="logoBlock">
    <div class="BigLogo" id="headerLogo">
       <a href="<%= root_path %>" title="Momo Lolo"><span>Momo Lolo</span></a>
    </div>					
    <div id="tagLine">
       <span>The Friendliest Coffee House in Fort Collins</span>
    </div>
  </div>
  <div id="mobileWrapper">
     <a id="mobileMenuIcon" href="#">
        <span class="MobileIconInner">&nbsp;</span>
        <span class="MobileIconInner">&nbsp;</span>
        <span class="MobileIconInner">&nbsp;</span>
     </a>
  </div>
  <nav>
    <ul id="menuList">
      <li id="mobileMenuCancel"><a href="#">X</a></li>
      <li><%= link_to "Upcoming Events", events_path  %></li>
      <li><%= link_to "Art in Our Shop", current_art_index_path %></li>
      <li><%= link_to "Meet our Baristas", baristas_path %></li>
      <% if admin_signed_in? %>
        <li><span class="AdminRegion"><%= link_to "Ordering", suppliers_path %></span></li>

      <% end %>
      <!-- li><a href=#">What People Are Saying</a></li -->
    </ul>
  </nav>
</header>

