<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :image_image %>
  </div>

  <div class="field">
    <%= form.label :display_in_ui %>
    <%= form.check_box :display_in_ui, id: :image_display_in_ui %>
  </div>

  <div class="field">
    <%= form.label :picturable_id %>
    <%= form.text_field :picturable_id, id: :image_picturable_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
