<p id="notice"><%= notice %></p>
<div id="place">
<div id="placeWrapper">
  <div id="titleSection">
    <div>Coffee</div>
    <div>House</div>
  </div>
  
  <div id="hours">
    <div class="Hours">Weekdays 6:30 am – 10:00 pm</div>
    <div class="Hours">Weekends 7:30 am – 10:00 pm</div>
  </div>

  <div id="address">
    <div class="Address"><%= @place.street_address %></div>
    <div class="Address"><%= @place.city_state %></div> 
  </div>
</div> <!-- placeWrapper -->
</div> <!-- place -->

<div class="TitleDiv">
</div>
<div id="location">
<div id="locationWrapper">
  <div id="map">
    <iframe 
       src="https://www.google.com/maps/embed/v1/place?q=Momo%20Lolo%20Coffee%20House%2C%201129%20West%20Elizabeth%20Street%2C%20Fort%20Collins%2C%20CO%2C%20USA&key=AIzaSyAmtKV40lGmD1mVMp4RB9jXLXgltWQxXGQ" 
       allowfullscreen>
     </iframe>
  </div>

  <div id="comeVisit">
    <h1>COME VISIT US!</h1>
    <p class="BigParagraph">
       Located in the upbeat and popular area of Campus West. Come try our
       excellent espresso, coffee, tea, matcha... and spend time in our
       unique shop.
    </p>
  </div>
</div> <!-- locationWrapper -->
</div> <!-- location -->
<% if @place_display_photos.count > 0 %>
  <div class="owl-carousel owl-theme">
    <% @place_display_photos.each do |photo| %>
       <%= image_tag(photo.image_url(:thumb).to_s) %>
    <% end %>
  </div> <!-- carousel -->
  <div id="morePictures"><%= link_to "More Pictures", place_place_photos_path(@place) %></div>
<% end %> 

